body .token-panel {
  overflow: hidden;
}
body .token-panel>h3 {
  margin: 0px 0px 20px;
  display: inline-block;
}
body .token-panel .black-label {
  background-color: #000000;
  border-color: #000000;
}
.token-panel form input, .token-panel form p{
  padding: 5px 10px;
  margin: 2px 0px;
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
}
.token-panel form input[type="text"] {
  width: 30%;
  border: 1px solid #919191;
  box-sizing: border-box;
}
.token-panel form input[type="submit"] {
  margin-top: -1px;
}
.token-panel form p, .token-panel form input[type="submit"]{
  position: relative;
  top: -1px;
  width: 180px;
}
body .token-panel form .user-key {
	width: auto;
}
.token-panel .user-key span {
  text-transform: lowercase;
  background: #FFFFFF;
  color: #363636;
  padding: 0px 5px;
  margin-left: 4px;
  border-radius: 1px;
}
.token-panel .chime-time input[type="number"] {
  width: 55px;
  border: 1px solid #919191;
}
.token-panel .chime-time .minutes {
  font-size: 20px;
}
body .clarification-cont {
  margin: 0px;
}
body .api-key-instruction {
  background: none;
}
body .api-key-instruction a {
  color: #3E3E3E;
}
body .api-key-instruction a:hover {
  color: #1E88E5;
}
body .multicall-numbers-panel {
  overflow: hidden;
}
.multicall-numbers-panel span {
  font-size: 14px;
}
.limit-title {
  display: inline-block;
  margin-right: 10px;
}
.limit-field {
  width: 40px;
  display: inline-block;
}
.user-settings-table select {
  background: #181818;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  height: 30px;
  padding: 0px 5px;
}
.users-update-success {
  color: #000000;
  font-size: 14px;
}
.users-update-failed {
  color: #ff1e03;
  margin-right: 5px;
}
body .subscribe-time {
  background-color: #000000;
  color: #FFFFFF;
}
body .timer {
  margin-bottom: 0px;
  background: #f2a406;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
}

.user-settings-table .glyphicon-plus {
  margin-left: -3px;
  padding: 1px 1px 2px 2px;
}
.user-settings-table .glyphicon-minus {
  padding: 1px 2px 2px 1px;
}
.user-settings-table .glyphicon-plus, .user-settings-table .glyphicon-minus {
  color: #000000;
  border-radius: 3px;
  border: 1px solid #000000;
}
.redirect-option {
  width: 181px;
  background: #939393;
  border-radius: 3px;
  margin-top: 15px;
}
.redirect-title {
  padding: 10px 0px 0px 5px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.redirect-switch {
  height: 50px;
  border-radius: 3px;
  background: #161616;
  padding: 5px;
}
.toggle {
  display: block;
  height: 100%;
  width: 125px;
  border-radius: 1px;
  color: #FFF;
  text-align: center;
}
.toggle:hover {
  color: #FFF;
}
.toggle:visited {
  color: #FFF;
}
.redirect-switch .toggle {
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
}
.redirect-switch .redirect-on {
  background: #fbc91d;
}
.redirect-switch .redirect-off {
  background: #f44336;
}
