body .token-panel {
  overflow: hidden;
}
body .token-panel>h3 {
  margin: 0px 0px 20px;
  display: inline-block;
}
.token-panel form input, .token-panel form p{
  padding: 5px 10px;
  margin: 2px 0px;
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
}
.token-panel form input[type="text"] {
  width: 30%;
  border: 1px solid #919191;
  box-sizing: border-box;
}
.token-panel form input[type="submit"] {
  margin-top: -1px;
}
.token-panel form p, .token-panel form input[type="submit"]{
  position: relative;
  top: -1px;
  width: 150px;
}
body .token-panel form .user-key {
	width: auto;
}
.token-panel .user-key span {
  text-transform: lowercase;
  background: #FFFFFF;
  color: #363636;
  padding: 0px 5px;
  margin-left: 34px;
  border-radius: 1px;
}
.token-panel .chime-time input[type="number"] {
  width: 55px;
  border: 1px solid #919191;
}
.token-panel .chime-time .minutes {
  font-size: 20px;
}
body .clarification-cont {
  margin: 0px;
}
body .api-key-instruction {
  background: none;
}
body .api-key-instruction a {
  color: #3E3E3E;
}
body .api-key-instruction a:hover {
  color: #1E88E5;
}
body .multicall-numbers-panel {
  overflow: hidden;
}
.multicall-numbers-panel span {
  font-size: 14px;
}
body .token-panel .label-info {
  border-color: #000000;
  background-color: #000000;
}
