.unsuccess_calls, .success_calls {
  color: #FFFFFF;
}
.unsuccess_calls {
  background: #FF7373;
}
.success_calls {
  background: #48cf5f;
}
.success_icon {
  text-align: center;
}
.common-analytic-panel {
  padding: 10px;
  height: 200px;
}
.common-analytic-panel h5 {
  display: block;
  height: 70px;
}
.all-count {
  width: 51%;
}
.unansw-count {
  width: 25%;
}
.answ-count {
  width: 24%;
  color: green;
}
.unansw-count, .unansw-percent {
  color: red;
}
.answ-count, .unansw-count, .unansw-percent, .all-count {
  font-size: 20px;
}
